.a{
    background-color: turquoise;
    height: 400px;
}
.b{
    background-color: peru;
    height: 400px;
}
.c{
    background-color:yellow;
    height: 400px;
}
.e{
    background-color: tomato;
}
.d{
    background-color: violet;
}
